{% extends "rest_framework/base.html" %}
{% load static %}
{% block title %}CSVファイルアップロード{% endblock %}

{% block extrahead %}
<script>
$(function(){
  $('.dropify').dropify();
})
</script>
{% endblock %}

{% block branding %}
  <a class='navbar-brand' rel="nofollow" href=''>
      みんなの楽天SIM CSVファイルアップロード
  </a>
{% endblock %}

{% block content %}

<!-- <h3>アップロード</h3> -->
<form action="{{validate_action}}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" class="dropify" data-default-file="ファイルを選択してください" name="csv">
  <button type="submit" class="btn btn-primary name="button">データチェック</button>
</form>

<h3>プレビュー</h3>
<table class="table table-striped">
  {% if records %}
  <tr>
    {% for k, v in records.0.items %}
    <th>{{k}}</th>
    {% endfor %}
  </tr>
  {% endif %}

  {% for row in records %}
  <tr>
    {% for k, v in row.items %}
      {% ifnotequal k "exists__" %}
        {% if row.exists__ %}
        <td><font color=red>{{v}}</font></td>
        {% else %}
        <td>{{v}}</td>
        {% endif %}
      {% endifnotequal %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% if message %}
<p>{{message}}</p>
{% else %}
{% endif %}

<form action="{{upload_action}}" method="post">
  {% csrf_token %}
  <input type="hidden" value="{{json}}" name="json">
  <button type="submit" class="btn btn-primary name="button" {{disabled}}>アップロード</button>
</form>

{% endblock content %}
